/* Theme */
#switcher .theme-click {
	background-color: #069a97;
}/* Forms */
textarea:focus, select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="email"]:focus, .form-control:focus {
	-webkit-box-shadow: 0px 0px 0px 1px #069a97;
	box-shadow: 0px 0px 0px 1px #069a97;
	border-color: #069a97;
}
/* Buttons*/
.cs-nav-btn {
	background-color:  #069a97;
}
.btn-primary {
	background-color: #069a97;
}
.btn-white-primary {
	color: #069a97;
}
.btn-secondary:hover,.btn-primary:hover,.btn-black:hover,.btn-white-primary:hover,.cs-nav-btn:hover,
.btn-white-secondary:hover {
	color:  #069a97;
	border-color: #069a97;
}
/* nav*/
.navbar-nav .cs-fa{
	color: #069a97;
}
.navbar-nav .cs-fa:hover{
	border-color: #069a97;	
}

/* About Icons */
.cs-icon-text .icon {
	color: #069a97;
}
.cs-icon-text-link {
	border-color: #069a97;
	color: #069a97;
}
.cs-icon-text-link:hover{
	color:  #069a97;
}
/* Progress bar */
.progress-bar {
	background: #069a97;
}
/* Call to action */
.call-to-action h4 span {
	color: #069a97;
}
/* Blog */
.cs-blog-category {
	background-color: #069a97;
}
/* Team */
.cs-team-content p {
	color: #069a97;
}
.cs-team-content {
	box-shadow: 0px 2px 0px 0px #069a97;
}
.cs-team-content:after {
	background-color: #069a97;
}
/*Testimonial*/
.cs-testimonial-message .fa {
	background-color: #069a97;
}
.cs-partner-logo:hover {
	border-color: #069a97;
}
/*footer*/
.cs-link {
	color: #069a97;
}
.cs-contact-icontext .cs-icon {
	color: #069a97;
}
/* Icon color */
.cs-icontext .cs-icon,.navbar-default.cs-primary-navbar .navbar-nav>li>a:hover,.navbar-default.cs-primary-navbar .navbar-nav>li>a:focus {
	color: #069a97;
}
