<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="SIAMCO SAS">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<meta name="keywords" content="pisos de tanques y desinfección">
	<meta name="description" content="pisos de tanques y desinfección">
	<title>Pisos arquitectonicos</title>
	<link rel="shortcut icon" href="{%  static 'pisos/images/iconS.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{%  static 'pisos/css/main.css' %}">

	<link href="{%  static 'pisos/css/one.css' %}" id="style_theme" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
	<link rel="stylesheet" href="{%  static 'pisos/css/thumbnail-gallery.css' %}">


	<!--[if lt IE 9]>         <script src="js/html5shiv.js"></script>         <script src="js/respond.min.js"></script>     <![endif]-->
</head>

<body>

	<!-- PRELOADER -->
	<div id="preloader">
		<div id="status">
			<div class="cp-spinner cp-morph"></div>
		</div>
	</div>
	<!-- /PRELOADER -->


	<!-- Navbar -->
	<nav class="navbar navbar-default cs-primary-navbar" style="background-color: rgb(255, 255, 255);">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand cs-logo" href="index.html"><img src="{% static 'pisos/images/logoSiamco.png' %}"
						alt="logo"></a>
				<button type="button" class="navbar-toggle offcanvas-toggle pull-right" data-toggle="offcanvas"
					data-target="#js-bootstrap-offcanvas" style="float:left;">
					<span class="sr-only">Toggle navigation</span>
					<span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</span>
				</button>
			</div>

		</div>
	</nav>
	<!-- /Navbar -->

	<!-- Header -->
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<div class="header-content">
						<h1 class="wow animated fadeInUp" data-wow-delay="600ms">
							Lideres regionales en el desarrollo de proyectos de impermeabilización e instalación de
							pisos arquitectónicos.
						</h1>
						<br>
						<p>
						<ul>
							<li>

								<i class="fa fa-check" aria-hidden="true"></i>Pisos arquitectónicos de alta resistencia
								y durabilidad, fabricados en sitio
							</li>
							<li>
								<i class="fa fa-check" aria-hidden="true"></i>Pisos de alto nivel de resistencia a la
								abrasión y al desgaste que cualquier piso de concreto convencional
							</li>
							<li>
								<i class="fa fa-check" aria-hidden="true"></i>Pisos diseñados y planificados para crear
								armonía con el ambiente.
							</li>
						</ul>


						</p>
						<br><br>
						<ul class="list-inline wow animated fadeInUp" data-wow-delay="1000ms">
							<li><a href="#" class="btn btn-primary">Mas...</a></li>
						</ul>
						<br><br>
					</div>
				</div>
				<div class="col-sm-4">
					<form>
						<div class="cs-header-form">
							{%csrf_token%}
							<br>
							<h2>Deje sus datos para responderle</h2>
							<br>
							<div class="form-group cs-form-group">
								<input type="text" id="nombre" class="form-control" placeholder="NOMBRE *" required="">
							</div>
							<div class="form-group cs-form-group">
								<input type="email" id="email" class="form-control" placeholder="CORREO ELECTRONICO *"
									required="">
							</div>
							<div class="form-group cs-form-group">
								<input type="number" id="telefono" min="999999" max="9999999999" class="form-control"
									placeholder="TELEFONO *" required="">
							</div>
							<div>
								<label><input type="checkbox" required="" id="cbox1" value="first_checkbox"> <a href=""
										style="color: aliceblue;">Aceptacion politica y tratamiento de
										datos*</a></label><br><br>
							</div>
							<div>
								<button id="btnEnviar" class="btn btn-primary btn-block"
									url="{% url 'getContactForm' %}">ENVIAR</button>
							</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<!-- /Header -->


	<!--  Call Action  #Subscribe -->
	<div class="cs-call-action2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" style="text-align: end;">
					<h2 class="wow fadeInDown animated animated"
						style="visibility: visible; animation-name: fadeInDown;">Contactenos</h2>
				</div>
				<div class="col-lg-6 ">
					<p class="wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp; ">
						<i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 65px; font-weight: 700;"> </i>
						(+57)
						322 2706969
					</p>
				</div>

			</div>
		</div>
	</div>
	<!-- /Call Action  #Subscribe -->

	<!-- Call to Action #Banner -->
	<div class="cs-call-action">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="wow fadeInUp animated">SIAMCO INGENIERIA</h1>
					<p>
						Somos una empresa especializada en el diseño e implementación de soluciones de
						IMPERMEABILIZACIÓN, CONCRETO ESTAMPADO Y PISOS ARQUITECTÓNICOS.

						A través de nuestra amplia experiencia y apoyados en productos de alta tecnología e innovación,
						le brindamos a nuestros clientes la tranquilidad de contar con soluciones de calidad y
						estabilidad en el tiempo.

						Las soluciones que ofrecemos cumplen ampliamente con las especificaciones técnicas, económicas y
						de costo-beneficio, adaptándolas siempre a los requerimientos técnicos y a las necesidades de
						nuestros clientes.
					</p>

				</div>
			</div>
		</div>
	</div>
	<!-- /Call to Action #Banner -->



	<!--Brands -->

	<div class="container gallery-container">

		<h1>Pisos arquitectócos y de alto trafico</h1>

		<p class="page-description text-center">TConcreto estampado, Recubrimiento de pisos de concreto,
			Teñidos y revestimientos de pisos de concreto</p>

		<div class="tz-gallery">

			<div class="row">

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/f52.jpg' %}">
							<img src="{% static 'pisos/images/f52.jpg' %}" alt="Park">
						</a>
						<div class="caption">
							<h3>Recubrimiento texturizado
							</h3>
							<p>Es un sistema decorativo de recubrimiento de hormigón diseñado para transformar hormigón
								ordinario con una superficie rica en texturas.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/g56.jpg' %}">
							<img src="{% static 'pisos/images/g56.jpg' %}" alt="Traffic">
						</a>
						<div class="caption">
							<h3>
								Concreto estampado
							</h3>
							<p>Es un sistema que duplica la textura más distintiva de la naturaleza con un realismo
								increíble.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/f24.jpg' %}">
							<img src="{% static 'pisos/images/f24.jpg' %}" alt="Coast">
						</a>
						<div class="caption">
							<h3>EPOXI de cuarzo
							</h3>
							<p>Es un sistema fácil de usar que utiliza epoxi 100% sólido de alto rendimiento y
								agregado de cuarzo (10 colores estándar) para transformar el concreto simple en una
								hermosa
								superficie transparente rica en color con durabilidad excepcional y bajo mantenimiento.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/g45.jpg' %}">
							<img src="{% static 'pisos/images/g45.jpg' %}" alt="Traffic">
						</a>
						<div class="caption">
							<h3>Agregado expuesto
							</h3>
							<p>Sistemas para crear superficies de agregados expuestos en concreto recién vertido con
								resultados consistentes y confiables.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/g24.jpg' %}">
							<img src="{% static 'pisos/images/g24.jpg' %}" alt="Traffic">
						</a>
						<div class="caption">
							<h3>Coloración reactiva
							</h3>
							<p>Coloración o tinción del concreto de penetración profunda que crea tonos de color
								hermosos y
								moteados en el concreto existente.</p>
						</div>
					</div>
				</div>



				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/f72.jpg' %}">
							<img src="{% static 'pisos/images/f72.jpg' %}" alt="Traffic">
						</a>
						<div class="caption">
							<h3>Recubrimiento modelado
							</h3>
							<p>Lo ultimo en recubrimiento para hormigón liso, viejo o anti-estético, es un sistema
								decorativo de recubrimiento de hormigón diseñado para transformar el hormigón ordinario
								en superficies
								texturizadas audaces y emocionantes que ofrecen una variedad de diseños para mejorar
								cualquier decoración o paisaje.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/f35.jpg' %}">
							<img src="{% static 'pisos/images/f35.jpg' %}" alt="Bridge">
						</a>
						<div class="caption">
							<h3>Recubrimiento de granito
							</h3>
							<p>Es un sistema de pisos de vinilo epóxico que cubre y protege los pisos de concreto con un
								aspecto y acabado
								nuevos y coloridos. Esta superficie duradera y de bajo mantenimiento evita las manchas y
								es fácil de limpiar.
								Es ideal para una amplia gama de aplicaciones, como garajes, sótanos, entradas,
								vestíbulos, oficinas, locales
								comerciales, áreas de servicio, laboratorios y salas.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/f45.jpg' %}">
							<img src="{% static 'pisos/images/f45.jpg' %}" alt="Tunnel">
						</a>
						<div class="caption">
							<h3>Pisos EPOXI de efecto metálico
							</h3>
							<p>Es un sistema que se usa para transformar concreto plano en una
								superficie duradera con un brillo metálico espectacular. La naturaleza de los pigmentos
								metálicos, el
								tipo de iluminación y los ángulos, junto con las técnicas de aplicación, harán que la
								luz se refleje en
								la superficie y pueden crear una variedad de variaciones de tres a cuatro colores.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="{% static 'pisos/images/g10.jpg' %}">
							<img src="{% static 'pisos/images/g10.jpg' %}" alt="Rails">
						</a>
						<div class="caption">
							<h3>Recubrimiento decorativo de hormigón
							</h3>
							<p>Dseñado para recubrimiento de superficies de concreto existentes. Este sistema duplica el
								aspecto de
								la piedra natural, la pizarra y el granito en profundos patrones de relieve sobre las
								superficies de hormigón
								existentes, eliminando la molestia y el gasto de la sustitución del hormigón.</p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!--/Brands -->




	<!-- Footer -->
	<div class="footer" style="background-color: #181818;">
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-12">
							<h4 class="cs-footer-title wow animated fadeInUp">PORTAFOLIO DE SERVICIOS
							</h4>
							<h5>IMPERMEABILIZACION</h5>
							<ul class="cs-footer-links">
								<li><i class="fa fa-circle"></i><a href="#"> Soluciones</a></li>
								<li><i class="fa fa-circle"></i><a href="#"> Sistemas</a></li>

							</ul>
							<h5>PISOS ARQUITECTONICOS</h5>
							<ul class="cs-footer-links">
								<li><i class="fa fa-circle"></i><a href="#"> Concreto estampado</a></li>
								<li><i class="fa fa-circle"></i><a href="#"> Recubrimiento de pisos de concreto</a></li>
								<li><i class="fa fa-circle"></i><a href="#"> Teñidos y revestimientos de pisos de
										concreto</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<h4 class="cs-footer-title wow animated fadeInUp">INFORMACION DE CONTACTO</h4>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-map-marker cs-icon"></i>
						</div>
						<div class="media-body">
							<p>Calle 24A Norte No. 8N-31, Cali – Colombia</p>
						</div>
					</div>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-phone cs-icon"></i>
						</div>
						<div class="media-body">
							<p> +57 (2) 650-4101 / 316 878 22 90</p>
						</div>
					</div>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-envelope-o cs-icon"></i>
						</div>
						<div class="media-body">
							<p> info@impermeabilizacion.com.co</p>
						</div>
					</div>
					<div class="cs-contact-icontext">
						<div class="media-left">
							<i class="fa fa-clock-o cs-icon"></i>
						</div>
						<div class="media-body">
							<p> Lun - Sab: 8:00 - 18:00</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="cs-copyright-bar">
		<div class="container">
			<ul class="cs-footer-navbar">
				<li><a href="#">Politica de Privacidad</a></li>
				<li><a href="#">Terminos y Condiciones</a></li>
			</ul>
			<div class="cs-copy-text">© Copyright 2018 Siamco Ingeniería. Todos los derechos reservados. -
				Posicionamiento SEM del sitio web </div>
		</div>
		<a href="#" class="btn-primary back-to-top show" title="Move to top"><i
				class="glyphicon glyphicon-arrow-up"></i></a>

	</div>
	<!-- /Footer -->
	<!-- /Footer -->
	<!-- Script files -->
	<script src="{% static 'pisos/js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'pisos/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'pisos/js/bootstrap.offcanvas.js' %}"></script>
	<script src="{% static 'pisos/js/motorAjax.js' %}"></script>
	<script src="{% static 'pisos/js/mainCtrl.js' %}"></script>
	<script src="{% static 'pisos/js/wow.min.js' %}"></script>
	<script src="{% static 'pisos/js/slider/owl.carousel.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO_lURb8GWwWr1uf2oIlH9Rx1NL9i2gWg"
		type="text/javascript"></script>
	<script src="{% static 'pisos/js/main.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
	<script>
		baguetteBox.run('.tz-gallery');
	</script>

	<script>
		/*Bootstrap Tooltip*/
		$(function () {
			$('[data-toggle="tooltip"]').tooltip({
				trigger: 'manual'
			}).tooltip('show');
		});

		/*Bootstrap Progressbar animation*/
		$(".progress-bar").each(function () {
			each_bar_width = $(this).attr('aria-valuenow');
			$(this).width(each_bar_width + '%');
		});

	</script>
	<script>
		$(document).ready(function () {
			"use strict";

			function e() {
				var e = {
					center: a,
					zoom: 10,
					/*scrollwheel:!0*/
					scrollwheel: false,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					styles: [{
						featureType: "landscape",
						stylers: [{
							hue: "#FFBB00"
						}, {
							saturation: 43.400000000000006
						}, {
							lightness: 37.599999999999994
						}, {
							gamma: 1
						}]
					}, {
						featureType: "road.highway",
						stylers: [{
							hue: "#FFC200"
						}, {
							saturation: -61.8
						}, {
							lightness: 45.599999999999994
						}, {
							gamma: 1
						}]
					}, {
						featureType: "road.arterial",
						stylers: [{
							hue: "#FF0300"
						}, {
							saturation: -100
						}, {
							lightness: 51.19999999999999
						}, {
							gamma: 1
						}]
					}, {
						featureType: "road.local",
						stylers: [{
							hue: "#FF0300"
						}, {
							saturation: -100
						}, {
							lightness: 52
						}, {
							gamma: 1
						}]
					}, {
						featureType: "water",
						stylers: [{
							hue: "#0078FF"
						}, {
							saturation: -13.200000000000003
						}, {
							lightness: 2.4000000000000057
						}, {
							gamma: 1
						}]
					}, {
						featureType: "poi",
						stylers: [{
							hue: "#00FF6A"
						}, {
							saturation: -1.0989010989011234
						}, {
							lightness: 11.200000000000017
						}, {
							gamma: 1
						}]
					}]

				},
					t = new google.maps.Map(document.getElementById("pw-portal-map"), e),
					s = {
						url: ""
					},
					o = new google.maps.Marker({
						position: a,
						map: t,
						icon: s,
						animation: google.maps.Animation.BOUNCE
					});
				o.setMap(t);
				var n = new google.maps.InfoWindow({
					content: "<strong>Silicon Valley, HITEC City <br> Hyderabad, Telangana 500081</strong>"
				});
				google.maps.event.addListener(o, "click", function () {
					n.open(t, o)
				})
			}
			var a;
			a = new google.maps.LatLng("17.451603", "78.380930"), google.maps.event.addDomListener(window, "load", e), a = new google.maps.LatLng("17.451603", "78.380930")
		});

	</script>


</body>

</html>